@model EventAll.ViewModels.ViewEquipmentViewModel


<div class="container">

    <div class="row" style="margin-bottom:15px;">
        
        <div class="col">
            <h1>@Model.Equipment.Name:</h1>
            <table class="table">
                <thead class=" thead-dark">
                    <tr>
                        <th>Inventory</th>
                        <th>Price Per</th>
                    </tr>
                </thead>
                <tr>

                    @if (Model.Equipment.Items == null)
                    {
                        Model.Equipment.Items = new List<Item>();
                    }
                    <td>@Model.Equipment.Items.Count()</td>



                    <td>$@Model.Equipment.Price</td>
                </tr>
            </table>
            <form asp-controller="Equipment" asp-action="ViewEquipment" method="post">

                <label>Add/Remove Items: </label>
                <input type="hidden" name="EquipmentID" value="@Model.Equipment.ID" />
                <input type="hidden" name="TotalItem" value="@Model.Equipment.Items.Count()" />
                <input type="number" name="NumItems" />
                <input type="submit" value="Add/Remove Items" />
            </form>
        </div>
        
        <div class="col">

            <h1>List of Events:</h1>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Name of Event</th>

                    <th>Date</th>
                </tr>
                </thead>
                @foreach (var even in Model.Events)
                {
                    <tr>
                        <td><a asp-controller="Event" asp-action="ViewEvent" asp-route-id="@even.Event.ID">@even.Event.Name</a></td>
                        <td>@even.Event.Date</td>
                    </tr>
                }
            </table>
        </div>
            
    </div>
</div>