@model EventAll.ViewModels.ViewEventViewModel


    <div class="container">
        <h1>@Model.Event.Name: @Model.Event.Date</h1>
        <div class="row" style="margin-bottom:15px;">

            <div class="col-6">
                @if (Model.Event.Description != null)
                {
                    <h4>Event Description:</h4>
                    <p>@Model.Event.Description</p>
                }
                <table class="table">
                    <tr>
                        <td>Venue</td>
                        <td>Budget</td>
                        <td>Profit Margin</td>
                        <td>Venue Price</td>
                        <td>Total Cost</td>
                        <td>Miscellaneous Costs</td>
                    </tr>
                    <tr>
                        <td><a asp-controller="Venue" asp-action="ViewVenue" asp-route-id="@Model.Event.VenueID">@Model.Event.Venue.Name</a></td>
                        <td>$@Model.Event.Budget</td>
                        @if (Model.Event.Budget - Model.Event.TotalCost > 0) 
                        {
                    <td style="color:green">$@(Model.Event.Budget - Model.Event.TotalCost)</td>
                        }
                        else
                        {
                    <td style="color:red;">$@(Model.Event.Budget - Model.Event.TotalCost)</td>
                        }
                        <td>$@Model.Event.Venue.Price</td>
                        <td>$@Model.Event.TotalCost</td>
                        <td>$@Model.Event.MiscCost</td>

                    </tr>
                </table>
                <form asp-controller="Event" asp-action="AddMisc" method="post">
                    <label>Add/Remove Miscellaneous Costs</label>
                    <input type="number" name="MiscCost" />
                    <input type="hidden" value="@Model.Event.ID" name="EventID" />
                    <input type="submit" value="Add/Remove Cost" />
                </form>
            </div>
        </div>
        <h1>Event Equipment:</h1>
        <div class="row" style="margin-bottom:15px;">


            <div class="col-6">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Inventory</th>
                        <th># Purchased For Event</th>
                        <th>Price Per</th>
                    </tr>

                    <tr>
                        @foreach (var equipment in Model.Equipments)
                        {
                            <tr>
                            <td><a asp-controller="Equipment" asp-action="ViewEquipment" asp-route-id="@equipment.Equipment.ID">@equipment.Equipment.Name</a></td>
                            @if (equipment.Equipment.Items == null)
                            {
                                equipment.Equipment.Items = new List<Item>();
                            }
                            <td>@equipment.Equipment.Items.Count()</td>

                            
                            <td>@equipment.Equipment.Items.Where(i=>i.CurrentEventId==Model.Event.ID).Count()</td>

                            <td>$@equipment.Equipment.Price per/item</td>
                            <td>
                                <form asp-controller="Event" asp-action="AddOrRemoveEquipmentItems" method="post">

                                    <label>Total @equipment.Equipment.Name (s)Needed For Event: </label>
                                    <input type="hidden" name="EquipmentID" value="@equipment.Equipment.ID" />
                                    <input type="hidden" name="TotalItem" value="@equipment.Equipment.Items.Count()" />
                                    <input type="hidden" name="EventID" value="@Model.Event.ID" />
                                    <input type="number" name="NumItems" />
                                    <input type="submit" value="Add/Remove Items" />
                                </form>
                            </td>
                                </tr>
                        }

                    </tr>
                </table>

            </div>
        </div>
        <div>
            <form asp-controller="Event" asp-action="AddEquipment" method="post">
                <label asp-for="EquipmentList">Equipment List</label>
                <select asp-for="EquipmentID" asp-items="@Model.EquipmentList"></select>
                <input type="hidden" name="EventID" value="@Model.Event.ID" />
                <input type="submit" value="Add Equipment" />
            </form>
        </div>
        <a asp-controller="Event" asp-action="RemoveEquipment" asp-route-id="@Model.Event.ID">Remove Equipment</a>
        <h1>Staff List:</h1>
        <div class="row" style="margin-bottom:15px;">

            <div class="col-6">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Job</th>
                        <th>Pay Per Hour</th>
                        <th>Current Hours</th>
                    </tr>
                    <tr>
                        @foreach (var staff in Model.Staffs)
                        {
                            <tr>
                            <td><a asp-controller="Equipment" asp-action="ViewEquipment" asp-route-id="@staff.Staff.ID">@staff.Staff.Name</a></td>
                            <td>@staff.Staff.Skill</td>
                            <td>$@staff.Staff.Wage</td>
                            <td>@staff.Hours</td>

                            <td>
                                <form asp-controller="Event" asp-action="AddOrRemoveHours" method="post">

                                    <label>@staff.Staff.Name's Hours: </label>
                                    <input type="hidden" name="StaffID" value="@staff.Staff.ID" />
                                    <input type="hidden" name="EventID" value="@Model.Event.ID" />
                                    <input type="number" name="Hours" />
                                    <input type="submit" value="Add/Remove Hours" />
                                </form>
                            </td>
                                </tr>
                        }
                    </tr>
                </table>
            </div>




        </div>
        <div>
            <form asp-controller="Event" asp-action="AddStaff" method="post">
                <label asp-for="StaffList">Staff List</label>
                <select asp-for="StaffID" asp-items="Model.StaffList"></select>
                <input type="hidden" name="EventID" value="@Model.Event.ID" />
                <input type="submit" value="Add Staff" />
            </form>
        </div>
        <a asp-controller="Event" asp-action="RemoveStaff" asp-route-id="@Model.Event.ID">Remove Staff</a>
    </div>
