@model EventAll.ViewModels.ViewStaffViewModel


<div class="container">

    <div class="row" style="margin-bottom:15px;">
        
        <div class="col">
            <h1>@Model.Staff.Name:</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Skills</th>
                        <th>Wage</th>
                    </tr>
                </thead>
                <tr>

                    <td>

                        @Model.Staff.Skill
                    </td>
                    <td>$@Model.Staff.Wage per/hour</td>
                </tr>
            </table>


        </div>
        
            
        <div class="col">
            <h1>List of Events:</h1>
            <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name of Event</th>

                    <th>Date</th>
                </tr>
                </thead>
                @foreach (var even in Model.Events)
                {
                    <tr>
                        <td><a asp-controller="Event" asp-action="ViewEvent" asp-route-id="@even.Event.ID">@even.Event.Name</a></td>
                        <td>@even.Event.Date</td>
                    </tr>
                }
            </table>
        </div>
        

    </div>
</div>